:root {
  --text: #041623;
  --teal: #04fbfb;
  --earth_yellow: #fcfc04;
  --army_green: #48ca72;
  --carolina_blue: #0434ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", "Helvetica Neue", "Segoe UI", Roboto, sans-serif;
  position: relative;
}

.showcase {
  padding-top: 50px;
}

.shapes {
  position: relative;
  z-index: 100;
  width: 100%;
  top: 0px;
}
.circle {
  height: 4rem;
  width: 4rem;
  background-color: var(--carolina_blue);
  border-radius: 50%;
  left: 0px;
  top: 0px;
  position: absolute;
  animation: zoom 5s 1s infinite alternate-reverse both;
}

.square {
  height: 3rem;
  width: 3rem;
  background-color: var(--army_green);
  left: 50%;
  top: 0%;
  position: absolute;
  transform: rotate(-30deg);
  animation: zoom 5s infinite alternate-reverse both;
}
.triangle {
  width: 0;
  height: 0;
  left: 82%;
  top: 2rem;
  position: absolute;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid var(--earth_yellow);
  transform: rotate(80deg);
  animation: zoom 2s 0s infinite alternate-reverse both;
}

.circle,
.square,
.triangle {
  transition: all 0.7s ease-in-out;
}

@keyframes zoom {
  from {
    transform: scale(2) rotate(0);
  }
  to {
    transform: scale(1) rotate(360);
  }
}

.header {
  padding-top: 20px;
}

.linkedin {
  background-color: #0e76a8 !important;
}

.instagram {
  background-color: #f56040 !important;
}

.inspiring-title {
  font-weight: 600 !important;
  text-shadow: 2px 2px black;
}

.custom-styling {
  margin-top: 50px;
  margin-bottom: 50px;
}

.random-color span {
  transition: all 0.7s ease-in-out;
}

/* Typography */
h1 {
  font-size: 5.4rem;
  font-weight: 200;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
h3 {
  font-size: 3rem;
  font-weight: 800;
}

/* Spanning the button in card to 100% */
.card-action a.btn {
  width: 100%;
}


/* Animaiton for 2020 in heading */

.crazy {
  display: inline-block;
  margin-top: 1rem;
  transition: all 0.7s ease-in-out;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.crazy:hover {
  transform: rotate(360deg) rotateX(720deg);
}

.custom-styling-card {
  margin-top: 50px;
}

.card img {
  max-height: 200px;
  object-fit: cover;
}

.align-text {
  text-align: justify;
  font-size: 12px;
}
